body {
    font-weight: lighter;
}
header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    background-color: white;
    width: 100%;
    height: 80px;
    border-bottom: 7px solid #1e87f0;
}
header h1 {
    font-weight: lighter;
    padding: 20px;
    font-size: 32px;
    /*width: 250px;*/
}
header div.subtitle {
    color: #aaa;
    padding: 29px 20px;
    display: none;
}
div.subtitle-main {
    text-align: center;
    margin-top: -50px;
    padding: 20px;
}
@media only screen and (min-width: 810px){
    header div.subtitle {
        display: inline-block;
    }
    div.subtitle-main {
        display: none;
    }
}
header div#headerBtns {
    padding: 23px 20px;
    /*width: 250px;*/
    text-align: right;
}
header.uk-section {
    padding-top: 10px;
    padding-bottom: 10px;
}
/*div#welcomeImg {
    background-image: url(images/James.png);
    background-size: contain;
    background-repeat: no-repeat;
}*/
div.main {
    padding-top: 140px;
}
div.stats {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
div.stats div.stat {
    padding: 10px;
    text-align: center;
    width: 40%;
}
div.stats div.stat span {
    font-size: 36px;
    display: block;
    padding: 10px;
    color: #1e87f0;
}
ul.skills li {
    display: inline-block;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    margin-right: 2px;
}
ul.skills-experienced li {
    border: 1px solid #1e87f0;
}
div.experience div.logo {
    height: 80px;
}
div.experience img {
    max-height: 80px;
    width: auto;
}
h2.section-title {
    padding-bottom: 30px;
}
div.uk-section.nopadding {
    padding-top: 0px;
}
div.contact-list span {
    margin-right: 30px;
}